.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.field {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    background-color: green;
    border: 10px solid black;
    border-radius: 10px;

    .cell {
        box-shadow: 0 0 0 1px rgba(0, 0, 0, .2);
        display: flex;
        justify-content: center;
        align-items: center;
        //border-radius: 3px;

        img {
            max-width: 100%;
        }

        &.snake {
            background-color: cornflowerblue;
        }

        &.snakeHead {
            background-color: darkred;
            border-radius: 5px;
        }

    }
}